<a name="PythonIntro"></a>
# Extra (@Home if needed): Programming with Python

Python tutorial and learning resources

## TReND Python School: Introduction to Python
The following tutorial is prepared by the [TReND Python Course](https://trendinafrica.org/python-course/):

Content creators:
Burak GÃ¼r, Foutse Yuehgoh, Adejoke Elizabeth Memudu, Florian Birk



### Overview:
#### - 3.1 [Python as a calculator](#calculator)
#### - 3.2 [Storing data: Variables](#var)
#### - 3.3. [Data types](#datype)
##### - [**integers**](#int) - for numbers without decimals
##### - [**floats**](#float) - for numbers with decimals
##### - [**strings**](#str) - for characters, words etc.
##### - [**booleans**](#bool) - for binary (True or False, 1 or 0)
#### - 3.4 [Converting types](#type_conv)
#### - 3.5 [Errors](#err)

---
<a name="calculator"></a>
##**3.1 Python as a calculator**
Python can be used as a calculator. And basic mathematical operations can be easily done using **Python operators** (pre defined symbols for doing operations between values or variables).

| Operator | Name    |
|------|------|
|```+```  | Addition|
|```-```  | Subtraction|
|```*```  | Multiplication|
|```/```  | Division|
|```**```  | Exponentiation|
|```%```  | Modulus|

In [ ]:
#Live code (add 1 to 5)

In [ ]:
#@title  Double click for solution
# add 1 to 5
1+5

In [ ]:
#Live code (Multiple 2 by  3)

In [ ]:
#@title  Double click for solution
#Live code (Multiple 2 by  3)
2*3

In [ ]:
#Live code (cube of 2)

In [ ]:
#@title  Double click for solution
#Live code (cube of 2)
2**2

In [ ]:
#Live code (49 modules 24)

In [ ]:
#@title  Double click for solution
#Live code of  49 modules 24
49%24

---
<a name="var"></a>
##**3.2 Storing data: Variables**

Variables are used to **store** data (also known as **value** in programming) of any sort.

You can think of them as a depot where you put data inside and each depot has its unique name:

<img src= "https://github.com/birkfl/TReND/blob/main/Python_Workshop2022/img/variable1.svg?raw=true" height ="300px">

- **Name** of the variable: The unique name that identifies this storage space.
- **Value** of the variable: Data that is stored inside this space.
- **Type** of the variable: Data type that is stored inside this space.

**Data types will be part of the next section!**

### Creating variables: Assignments
Variables are created with an assignment statement. The syntax (kind of grammar) of variable assignment is:

```variable_name = a value``` (or an expression e.g., ```1+1```)

In [ ]:
# Live code (Define variables "year", "language", "coding minutes")

In [ ]:
#@title  Double click for solution
# Define variables "year", "language", "coding minutes"
year = 2022           # year
language = "Python"   # Programming language
coding_minutes = 1550 # minutes of coding

<img src= "https://github.com/birkfl/TReND/blob/main/Python_Workshop2022/img/variable_assign.svg?raw=true" height ="300px">


We just *defined* variables by assigning values to each of them. Now we can use them.

How many **hours** did we spend **coding** this year?

<img src= "https://github.com/birkfl/TReND/blob/main/Python_Workshop2022/img/variable_divide.svg?raw=true" height ="300px">

In [ ]:
#Live code (How many hours did I spend with coding in the year 2022? Print the answer!)

In [ ]:
#@title  Double click for solution
#Live code How many hours did I spend with coding in the year 2022? Print the answer!
coding_hours = coding_minutes / 60
print("Hours of coding in 2022:", coding_hours)

### **Changing variables**
When you use variables in other assignments or operations, they don't change!

To change variables, we need to assign them again.

In [1]:
# Live code (save coding_days as new variable and print it together with coding_hours)

In [2]:
#@title Double click for solution
# Live code (save coding_days as new variable and print it together with coding_hours)
# coding_hours / 24
coding_days = coding_hours / 24
print("coding_hours is:",coding_hours)
print("coding_days is:",coding_days)

NameError: name 'coding_hours' is not defined

### Naming variables
Python variable names:
- can contain **letters**, **numbers** and **underscores**
- can **NOT** start with a **number** (```1st_name``` -> won't work)
- are **case sensitive** (```age``` vs ```Age``` are different variables)

Suggestion: Variable names should be **concise** (short but informative):

- ```my_telephone_number``` -> ```phone_num```
- ```p_n``` -> ```phone_num```

### Checking - deleting variables
Now we have defined several varibles in the previous cells. These are stored in our **workspace** (or namespace).

- write ```whos``` to check which variables we have in our current workspace.

In [ ]:
whos

We can erase them using ```%reset```

In [ ]:
%reset

In [ ]:
whos

---
<a name="datype"></a>
##**3.3 Data types**
    
Data can have different types.

For example:

<img src= "https://github.com/birkfl/TReND/blob/main/Python_Workshop2022/img/variable_types.svg?raw=true" width ="600px">

Python's most common data types are:

**For numbers:**
- [integers](#int) (for storing integers - whole numbers - e.g. 2)


- [floats](#float) (for storing numbers with fractions e.g. 1.0025)

**For characters (text):**
- [strings](#str) (for characters, words etc.)

**For logicals (1, 0 - True, False)**:
- [booleans](#bool) (binary data: True or False)


Note: Data types to store multiple data points (arrays, lists etc.) will be covered in the tutorial *Theory 3*!

<a name="int"></a>
### **Integers**

Below are some examples of integers

In [ ]:
# Live code (Example of integer. How old are you? When have you been born? Print each answer in a sentence)

In [ ]:
#@title  Double click for solution
# Live code - Example of integer. How old are you? When have you been born?
age = 27
birthyear = 1995

print("I am", age, "years old.")
print("I was born in", birthyear)

We can check the type of variables by using the ```type()``` function:

In [ ]:
# Live code (Print the data type of the age variable)

In [ ]:
#@title  Double click for solution
# Live code - Print the data type of the age variable
print(type(age))

It will print out: <class 'int'> meaning that the type (you call data types "class") is integer.

<a name="float"></a>
### **Floats**
**Floating point number** (Float) is a way of representing a non-integer real number with a computer.

In [ ]:
# Live code (Let's calculate my speed from home to work, assign variables distance (km) and time (minutes))

In [ ]:
#@title  Double click for solution
# Live code - Let's calculate my speed from home to work
distance = 3 # in kms
time = 7 # in minutes

In [ ]:
#Live code (store distance/(time/60) in a variable called speed. Print out the average speed from work and the variable type of  speed)

In [ ]:
#@title  Double click for solution
#Live code - (store distance/(time/60) in a variable called speed. Print out the average speed from work and the variable type of  speed)
speed = distance/(time/60) # km/h
print("My average speed from home to work is: ", speed, "km/h")
print("'speed' variable's value is ", type(speed))

<a name="str"></a>
### **Strings**

What if we want to store characters instead of numbers? Usually we want to store a set of characters instead of storing each character 1 by 1 (like instead of storing - n, a, m, e - we want to store them together as -name-). This is called a string of characters. That's why the type is also called **string**.

- We should use **double quoutes ```" __ "``` or single quotes ```' __ '```** when limiting a string.

In [ ]:
# Live code (create and print your variable name and country)

In [ ]:
#@title  Double click for solution
# Live code - Some string examples
name = "Florian"
country = 'Germany'

print(name, "is from", country)

#### Adding blank space (a.k.a. whitespace)
- Use ```\n``` to add a new line (like pressing enter)
- Use ```\t``` for adding a tab

In [ ]:
# Live code (Try the new line and tab option! Try to replicate the print output below with only one string variable.)

In [ ]:
#@title  Double click for solution
# Live code - Tab example
two_line_string = '\tHello  world \n A new line'
print(two_line_string)

#### **Concatenating (combining)**
Sometimes we want to combine strings. There are many ways of doing it.

A fast and easy-to-read way is using the **plus** **```+```** **operator**.

In [ ]:
# Live code (Let's concatenate two string variables. Define your name and surname as strings and concatenate them with the + operator)

In [ ]:
#@title  Double click for solution
# The plus operator to combine strings
name = "Florian"
surname = "Birk"


fullname = name + surname # Just joining them together
fullname_nice = name + ' ' + surname # Joining with a space


print(fullname)
print(fullname_nice)

#### **String formatting**
An easier way of concatenating is with the **f strings** (formatted string literals).

In [ ]:
# Live code (Concatenate with f string )

In [ ]:
#@title  Double click for solution
# Live code - Concatenate with f string
name = "Florian"
surname = "Birk"
age = 27


print(f'My name is {name}, my surname is {surname}, my age is {age}')

<a name="bool"></a>
### **Booleans**

Booleans are data that can vary between only two values (binary) e.g. **0-1** or **True-False**

Use **capital letters** for boolean variables!

In [ ]:
# Live code (Example of boolean (football), let's create some booleans variables)

In [ ]:
#@title  Double click for solution
# Live code - Example of boolean (football)
name = "Lionel"
surname = "Messi"
age = 35
is_programmer = False
is_footballplayer = True
is_argentine = True
is_male = True
is_thebest = False # False or True ;)

We can use logical operators (```and```, ```or```, ```not```) to work with them.

In [ ]:
# Live code (Is Lionel Messi either a football player or a programmer?)

In [ ]:
#@title  Double click for solution
# Live code - Is Lionel Messi either a soccer player or a programmer?
is_programmer or is_footballplayer

In [ ]:
# Live code (Is Lionel the best football player?)

In [ ]:
#@title  Double click for solution
# Live code - Is Lionel the best soccer player?
is_footballplayer and is_thebest

More about booleans: [realpython - booleans](https://realpython.com/python-boolean/)

<a name="type_conv"></a>
##**3.4 Converting types**
Sometimes we want to convert the types of variables in order to work with other types of variables.

For example: when we **read text data** and want to do calculations:

In [ ]:
# Live code (Working with strings for calculations (variables: distance (km) and time (hours)))

In [ ]:
#@title  Double click for solution
# Live code - Working with strings for calculations
distance = "300.6" # km
time = "4.1" # hours

In [ ]:
# Live code (Calculate the speed)

In [ ]:
#@title  Double click for solution
# Live code - Calculate the speed
speed = distance / time

We can't do calculations with strings!

We can convert types of data to each other by using **the target type name**:

#### **Watch out!**

Be careful of not using an improper data type for your conversion. Python will catch this but it is always good to be aware.

e.g. if you convert 300.6 to an ```int``` - but remember, an integer can not handle decimals.

In [ ]:
print("Distance", distance, "as int: ", int(distance))

In [ ]:
# Live code (Convert the string to a float before calculating the speed)

In [ ]:
#@title Double click for solution
# Live code - Convert to string to float
speed = float(distance) / float(time)
print("Speed is", speed, " km/h")
print("'speed' type is now: ",type(speed))

---
<a name="err"></a>
##**3.5 Errors**

We are all human. Sometimes we might write incorrect code and python can inform this to us by producing an error. These errors also contain messages that explain what went wrong while python was executing your code.

In [ ]:
# Live code (Not defined error)

In [ ]:
#@title Double click for solution
# Live code - Not defined error
print(y)
y = 10

**Tip:** You can click on "SEARCH STACK OVERFLOW" button to see if someone else has encountered a similar error and provided a solution.


These messages are composed in a logical way, :
1. What is the **type of error** (<font color=red>NameError</font>) -> [More on error types here](https://docs.python.org/3/tutorial/errors.html)
2. **Where (which file)** the error occured (in our case this is not useful because we just have this file)
4. **Which line** has the error producing code
4. **Why** there was an error

In [ ]:
# Syntax/Identation error
print("This workshop is so much fun!")
print("I could not find any errors yet"")
weight = 70
height = 180

In [ ]:
# Zero division error
10 * (1/0)

### **Bonus: Commenting on code**
We can add some text to our code to inform/remind ourselves or others:
- **What** our code is doing
- **Why** it is doing this particular thing. (more important than what)
- Be **conscise**!

In [ ]:
height_cm = 183

# Too long comment
height_feet = height_cm / 30.48 # 1 foot is 30.48 cm so that's why we divide the height in cm with 30.48

# Not explanatory
height_feet = height_cm / 30.48 # Divide by 30.48

# Conscise: good!
height_feet = height_cm / 30.48 # 1 foot is 30.48 cm
print("height_feet is:",height_feet)

height_feet is: 6.003937007874016


---
<a name="selfstudy"></a>
##**4. Self Study**

**=================================================================**

### **4.1 Basic Operations**

The **order** of operations is important.

Use parantheses ```()``` to define order of operations.

Add 3 to 5 and divide by 4 -> **result is 2**

In [ ]:
# Task - Add 3 and 5 and divide by 4

In [ ]:
#@title  Double click for solution
# Add 3 and 5 and divide the results by 4
3+5/4

In [ ]:
# Task - Add 3 and 5 and divide the final answer by 4

In [ ]:
#@title  Double click for solution
# Add 3 and 5 and divide the final answer by 4
(3+5)/4

### Seeing our results with ```print()``` function
When we write multiple lines of code that contain operations, we can just see the result of our last operation.

In [ ]:
# Task - Do at least two number operations (division or multiplication) in two different lines of code. What do you recognize in the output?

In [ ]:
#@title Double click for solution
# multiples lines of operations
# You should see only the last operation beeing printed if you do not use the "print()" function
1+2
2+4

To see stuff after running our code, we can use the ```print()``` function of python:

In [ ]:
# Task - Print out the results of the previous codes using the print() function

In [ ]:
#@title  Double click for solution
# Live code (print out the results of the previous codes)
print(3+3)
print(1+2)

Functions usually take inputs and produce outputs.
> ```output = function_name(input1,input2,...,inputN)```

More on **functions later on the course**!

```print()``` function can take multiple inputs (separated by ```,```) and prints them side by side.

> ```print(input1, input2, ..., inputN)```

In [ ]:
# Task - Print multiple inputs (numbers, strings, etc.) using one print statement

In [ ]:
#@title  Double click for solution
print(3+3,3+2,4)

### **4.2 Variables**

**Integers**

We can use integer variables with the operations we learned above.

What happens if we do a division that yields a fractional value with two integer type variables of your choice.(e.g. 5/2 = 2.5).


- What is the type of our result variable?

In [ ]:
# Task - Print x by y and assign it to z

# Task - Print x, y, and z and their types

In [ ]:
#@title  Double click for solution
# Live code - Print x by y and assign it to z
x = 5
y = 2
z = x/y

# Print x, y, and z and their types
print("x is",x, "y is",y, "z is",z)
print("x is",type(x), "y is",type(y), "z is",type(z))

In [ ]:
# Task - Change the value of coding minutes and all subsequent variables of coding_hours and coding_days. Print all three time units

In [ ]:
#@title  Double click for solution
#Live code (change the value of coding minutes and print all three time units)
coding_minutes = 2500
coding_hours = coding_minutes / 60
coding_days = coding_hours / 24
print("coding_minutes:", coding_minutes, "coding_hours:", coding_hours, "coding_days:", coding_days)

**Strings**

- We can use the **escape character** ```\``` to continue our string in the next line of code.

  This doesn't change the way it is printed.

In [ ]:
# Task - Defining a multi line string in the code, printed only in one line of output.

In [ ]:
#@title  Double click for solution
# Live code - Defining a multi line string
multiline_string_1 = 'This text is getting too long \
so I can continue on the next line of code'

print(multiline_string_1)

- Or, we can use **triple quoutes ```''' __ '''```** if we would like to use multiline strings

In [ ]:
# Task - Define a multi line string using the triple quote string.

In [ ]:
#@title  Double click for solution
# Live code - A multiline string
multiline_string_2 = '''This
is
a
multiline
string
'''
print(multiline_string_2)

Remember the **f strings**? We can even do operations within the f strings.

In [ ]:
# Task - add 10 to your age and print it. Rember to check if your age is already assigned as a variable to the notebook. Do you remember the command to check for existing variables?

In [ ]:
#@title  Double click for solution
# Live code - add 10 to your age and print it
print(f'My age in 10 years is {age+10}')

Some more info about the f strings [here](https://realpython.com/python-f-strings/).

**Boolean**

In [ ]:
# Task - Is Lionel Messi an argentine, male and footballplayer? Use the logical operators and boolean variables assigned in the live session.

In [ ]:
#@title  Double click for solution
# Live code - Is Lionel Messi an argentine, male, soccerplayer?
is_argentine and is_male and is_footballplayer

## More resources for learning Python:
* [Programiz](https://www.programiz.com/python-programming)
* [datacamp](https://learn.datacamp.com/courses/tech:python?utm_source=adwords_ppc&utm_campaignid=654038607&utm_adgroupid=54278411964&utm_device=c&utm_keyword=%2Blanguage%20%2Bpython%20%2Bprogramming&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=262582850841&utm_targetid=aud-299261629574:kwd-552072783517&utm_loc_interest_ms=&utm_loc_physical_ms=9056331&gclid=Cj0KCQjw5auGBhDEARIsAFyNm9FAWR3dZV833urTsgggqq0lAaMk6BRXg9CsS2bhaNo34H5aNPM6uk0aAiaaEALw_wcB)
* [W3schools](https://www.w3schools.com/python/python_intro.asp)
* [Coursera](https://www.coursera.org/specializations/python?utm_source=gg&utm_medium=sem&utm_campaign=06-PythonforEverybody-ROW&utm_content=06-PythonforEverybody-ROW&campaignid=6493101579&adgroupid=83560622768&device=c&keyword=python%20tutorial%20for%20beginners&matchtype=b&network=g&devicemodel=&adpostion=&creativeid=506843632505&hide_mobile_promo&gclid=Cj0KCQjw5auGBhDEARIsAFyNm9FM0o1tEpibGYE-1M2LQmlv2ctyf50caHOHA20YFVZe14CWMRV6xiUaAgMeEALw_wcB)

Congrats! That's it for this tutorial.