<a target="_blank" href="https://colab.research.google.com/github/trendinafrica/Comp_Neuro-ML_course/blob/main/notebooks/12-Monday/Python_colab.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

<img align="left" width="300" src="https://drive.google.com/uc?id=1xhBJo9KKicDMw6HuOCZiRclX5DJb2g_J">

# **Intro to Python and Google Colab**
# TReND Course in Computational neuroscience and machine learning basics

**Content creators:** Burak GÃ¼r & Foutse Yuehgoh 

Notebook taken from TReND 2021 Python Course.

## **Content**

1. [Why bother with programming?](#Why)
2. [Python - What is it & why use it?](#Python-what-why)

3. [Colab - Getting comfortable](#Colab)

4. [Programming with Python](#Programming)
    - 4.1 [Python as a calculator](#calculator)
    - 4.2 [Working with data -> variables](#var)
    - [Exercises I](#ex1)
    - 4.3 [Errors](#err)
    - 4.4 [Data types](#datype)
    - 4.5 [Converting types](#type_conv)
    - [Exercises II](#ex2)

---
<a name="Why"></a>
# **1. Why bother with programming?**

### Make your own programs

- Suitable software might not exist
- Software might be too expensive or not flexible enough


### Time: the true currency of life

- Have you ever renamed more than 100 files by hand? 

- Automatizing our tasks can give us back significant amount of time from boring tasks.

Computers are:
- fast
- cheap
- very hard-working

Perfect qualities for boring tasks!

<img src="https://github.com/bgur123/python-beginners-course/blob/master/trend_course/images/time_vs_programming.png?raw=1" width ="400px" title="I spend a lot of time on this task, I should write a program to automating it!">

source: [xkcd](https://xkcd.com/1319/)

### Working with big data

This could take weeks of analysis when done manually.

<img src="https://github.com/bgur123/python-beginners-course/blob/master/trend_course/images/CalmAn2.gif?raw=1" width ="800px" title="Activity of neurons in a zebrafish brain">

source: [CalmAn: an open source tool for brain imaging.](https://elifesciences.org/articles/38173)

### Less errors, more reliability, better reproducibility
- Reproducibility is a big problem in especially scientific disciplines.

- Automating your workflow using programming is an important aspect of better reproducibility.

### Sharing and collaborating
-  More than **200.000 Python packages** are available for you to use! (Packages contain already implemented functions or functionalities that are ready-to-use)
- Collaborate with others to develop packages and share them 
- Find solutions to your problems easily! One place to check is: [stackoverflow](https://stackoverflow.com/questions/tagged/python)

<img src="https://github.com/bgur123/python-beginners-course/blob/master/trend_course/images/stackOF.png?raw=1" width ="300px" title="Activity of neurons in a zebrafish brain">

source: [reddit](https://www.reddit.com/r/ProgrammerHumor/comments/69uof3/programming_stack_overflow/)

### Cost efficient (a lot of free and open-source resources)

### Let's do a survey: Why do you want to use programming?
  - You can write 3 reasons (each should be 1 word but you can combine words e.g. MachineLearning)
  - [Click here to share your reasons](https://www.menti.com/gis9ovf62w)

---
<a name="Python-what-why"></a>
# **2. Python - What is it & why use it?**

## Python: brief history
[Python](https://www.python.org/) is:
- A popular programming language created by Guido van Rossum, and released in 1991. 

- It is a powerful interpreted high-level general-purpose programming language with simple easy-to-use syntax. 

- Commonly used in research, web development (server-side), mathematics, system scripting, data science, creating software prototypes, just to name a few. 

- Supports modules and packages (already implemented functions or functionalities ready-to-use), which encourages program modularity and code reuse.
 
- The Python interpreter and the extensive standard library are available without charge for all major platforms, and can be freely distributed.

## What can Python do?

* Create web applications.

* Create workflows alongside software.

* Connect to database systems and read/modify files.

* Handle big data/perform complex mathematics.

## Why Python?

* Works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).

* Has a simple syntax similar to the English language.

* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.

* Python runs on an [interpreter](https://medium.com/@dpthegrey/what-is-interpreter-explain-how-python-interpreter-works-125205c1f8d6) system ( a kind of program that executes other programs), meaning that code can be executed as soon as it is written. This means that prototyping (implementing an algorithm) can be very quick. 

* Python can be used in different ways:
  - [procedural way](https://newrelic.com/blog/nerd-life/python-programming-styles) (series of computational steps to be carried out)
  - [object-oriented way](https://kinsta.com/blog/python-object-oriented-programming/) (use a collection of objects which knows how to perform certain actions and how to interact with other elements of the application) 
  - [functional way](https://hackernoon.com/functional-programming-in-python-for-beginners-pez32fk) (passing data from functions to functions to get a result).

# More resources for learning Python:
* [Programiz](https://www.programiz.com/python-programming)
* [datacamp](https://learn.datacamp.com/courses/tech:python?utm_source=adwords_ppc&utm_campaignid=654038607&utm_adgroupid=54278411964&utm_device=c&utm_keyword=%2Blanguage%20%2Bpython%20%2Bprogramming&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=262582850841&utm_targetid=aud-299261629574:kwd-552072783517&utm_loc_interest_ms=&utm_loc_physical_ms=9056331&gclid=Cj0KCQjw5auGBhDEARIsAFyNm9FAWR3dZV833urTsgggqq0lAaMk6BRXg9CsS2bhaNo34H5aNPM6uk0aAiaaEALw_wcB)
* [W3schools](https://www.w3schools.com/python/python_intro.asp)
* [Coursera](https://www.coursera.org/specializations/python?utm_source=gg&utm_medium=sem&utm_campaign=06-PythonforEverybody-ROW&utm_content=06-PythonforEverybody-ROW&campaignid=6493101579&adgroupid=83560622768&device=c&keyword=python%20tutorial%20for%20beginners&matchtype=b&network=g&devicemodel=&adpostion=&creativeid=506843632505&hide_mobile_promo&gclid=Cj0KCQjw5auGBhDEARIsAFyNm9FM0o1tEpibGYE-1M2LQmlv2ctyf50caHOHA20YFVZe14CWMRV6xiUaAgMeEALw_wcB)

---
<a name="Colab"></a>
# **3. Colab - Getting comfortable**

### Before Colab: Python notebooks
This is a python notebook (officially called a *Jupyter notebook* or an *IPython notebook* --> with the extension ".ipynb"), which is a basically just a super fancy way of writing python code.
  - We can write formatted **text together with executable code**.

  - Allows **rapid development** of python code by writing small bits and testing them.

  - We can **easily share** our code with others and they can run it without problems.

## What is Colab?

[Colab](https://colab.research.google.com/notebooks/intro.ipynb#recent=true) (short for "Colaboratory") allows us to take a Jupyter notebook and lets us **edit/use/share** it **easy and free!** 

Additionally:

  - Runs on the **Google Cloud** - doesn't depend much on your computer capabilities.
  
  - Has many pre-installed packages. **Zero configuration!**

  
  - Run code super fast --> **GPU usage** is provided free of charge for some hours of usage every day. 

  - **Share** notebooks with other people, without the need to download, install or run anything.

  - Notebooks are **stored in Google Drive** and can also be uploaded from **GitHub**

  -   Attention: Be careful - Colab **does not allow users to do changes simultaneously**. If you work togehter at the same time on one notebook, some changes might be lost.

For example, to run a code, just hover the mouse over ```[ ]``` and press the play button to the upper left. Or press **shift-enter to execute**.

- Below we have a code, just run it without trying to understand.

In [ ]:
print('Hello World')

Hello World

## Colab tips

*   If you're inactive for a long time (1h), colab can die! **Run> Reset Runtime Environment**
  - Your code is executed on a virtual machine specific to your account. Virtual machines are deleted when they are inactive for a certain time and have a maximum lifetime imposed by the Colab service. Select **Run> Reset Runtime Environment** to restore all virtual machines assigned to you to their original state.
* You can't save changes on someone else's notebook. Save a copy of the notebook on your own drive first: **File> Save a copy in Drive**
  
[Read more](https://research.google.com/colaboratory/intl/en-GB/faq.html)

---
<a name="Programming"></a>
#**4. Programming with Python**



### Overview:
#### - 4.1 [Python as a calculator](#calculator)
#### - 4.2 [Storing data: Variables](#var)
#### - [Exercises I](#ex1)
#### - 4.3 [Errors](#err) 
#### - 4.4. [Data types](#datype)
##### - [**integers**](#int) - for numbers without decimals
##### - [**floats**](#float) - for numbers with decimals
##### - [**strings**](#str) - for characters, words etc.
##### - [**booleans**](#bool) - for binary (True or False, 1 or 0)
#### - 4.5 [Converting types](#type_conv)
#### - [Exercises II](#ex2)

---
<a name="calculator"></a>
##**4.1 Python as a calculator**
Python can be used as a calculator. And basic mathematical operations can be easily done using **Python operators** (pre defined symbols for doing operations between values or variables). 

| Operator | Name    |
|------|------|
|```+```  | Addition|
|```-```  | Subtraction|
|```*```  | Multiplication|
|```/```  | Division|
|```**```  | Exponentiation|
|```%```  | Modulus|

In [ ]:
1+5

6

In [ ]:
2*3

6

In [ ]:
2**3

8

In [ ]:
49%24

1

The **order** of operations is important.

Use parantheses ```()``` to define order of operations.

Add 3 to 5 and divide by 4 -> result is 2

In [ ]:
3+5/4

4.25

In [ ]:
(3+5)/4

2.0

### Bonus: Seeing our results with ```print()``` function
When we write multiple lines of code that contain operations, we can just see the result of our last operation.

In [ ]:
3+3
3+2

5

To see stuff after running our code, we can use the ```print()``` function of python:

In [ ]:
print(3+3)
print(3+2)

6
5

Functions usually take inputs and produce outputs.
> ```output = function_name(input1,input2,...,inputN)```

More on functions later on the course!

```print()``` function can take multiple inputs (separated by ```,```) and prints them side by side.

> ```print(input1, input2, ..., inputN)```

In [ ]:
print(3+3,3+2,4)

6 5 4

But we don't just want to see stuff, we want to store our results and work with them.

---
<a name="var"></a>
##**4.2 Storing data: Variables**

Variables are used to **store** data (also known as **value** in programming) of any sort. 

You can think of them as a depot where you put data inside and each depot has its unique name:

<img src="https://github.com/bgur123/python-beginners-course/blob/master/trend_course/images/var1.svg?raw=1" width ="200px">

- **Name** of the variable: The unique name that identifies this storage space.
- **Value** of the variable: Data that is stored inside this space.

### Creating variables: Assignments
Variables are created with an assignment statement. The syntax (kind of grammar) of variable assignment is:

```variable_name = a value``` (or an expression e.g., ```1+1```)

In [ ]:
age = 29 
name = "Burak"
height_cm = 183

<img src="https://github.com/bgur123/python-beginners-course/blob/master/trend_course/images/var2.svg?raw=1" width ="600px">


We just *defined* variables by assigning values to each of them. Now we can use them.

What is my height in feets? **1 feet = 30.48 cm**

In [ ]:
height_feet = height_cm / 30.48
print("height_feet is:",height_feet)

height_feet is: 6.003937007874016

<img src="https://github.com/bgur123/python-beginners-course/blob/master/trend_course/images/var3.svg?raw=1" width ="600px">

### Changing variables
When you use variables in other assignments or operations, they don't change!

In [ ]:
height_cm / 2
print("height_cm is:",height_cm)

height_cm is: 183

In [ ]:
half_height = height_cm / 2
print("height_cm is:",height_cm)
print("half_height is:",half_height)

height_cm is: 183
half_height is: 91.5

To change variables, we need to assign them again.

In [ ]:
height_cm = 160
print("height_cm is:",height_cm)

height_cm is: 160

In [ ]:
height_cm = height_cm / 2
print("height_cm is:",height_cm)

height_cm is: 45.75

### Naming variables
Python variable names:
- can contain letters, numbers and underscores
- can NOT start with a number (```1st_name``` -> won't work)
- are case sensitive (```age``` vs ```Age``` are different variables)

Suggestion: Variable names should be **concise** (short but informative): 

- ```my_telephone_number``` -> ```phone_num```
- ```p_n``` -> ```phone_num```

### Checking - deleting variables
Now we have defined several varibles in the previous cells. These are stored in our **workspace** (or namespace).

- write ```whos``` to check which variables we have in our current workspace.

<img src="https://github.com/bgur123/python-beginners-course/blob/master/trend_course/images/var4.svg?raw=1" width ="600px">

In [ ]:
whos

Variable      Type     Data/Info
--------------------------------
age           int      29
half_height   float    91.5
height_cm     int      160
height_feet   float    6.003937007874016
name          str      Burak

We can erase them using ```%reset```

In [ ]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [ ]:
whos

Interactive namespace is empty.

### Bonus: Commenting on code
We can add some text to our code to inform/remind ourselves or others:
- **What** our code is doing
- **Why** it is doing this particular thing. (more important than what)
- Be **conscise**!

In [ ]:
height_cm = 183

# Too long comment
height_feet = height_cm / 30.48 # 1 foot is 30.48 cm so that's why we divide the height in cm with 30.48

# Not explanatory
height_feet = height_cm / 30.48 # Divide by 30.48

# Conscise: good!
height_feet = height_cm / 30.48 # 1 foot is 30.48 cm
print("height_feet is:",height_feet)

height_feet is: 6.003937007874016

---
<a name="ex1"></a>
##**Exercises I**
Let's practice what we've learned so far.

### **Peer-programming** during exercises

#### Steps:
1. Split into break-out rooms (~3 people each)
2. Individual work time (~4 minutes)
  - Check out the exercises
  - Try answering them (don't look at the answers yet)
3. Group work time (~6 minutes)
  - Someone shares their screen (rotate for each exercise part - you can use [Wheel of Names](https://wheelofnames.com/) to select someone). 
  - Others will share their answers and the group will discuss. 
  -  Is everything clear for everyone? If not, can we help each other?

### Demo exercise - NOT FOR STUDENTS
1. Calculate $43214+2134$
2. Create a new variable named ```my_answer``` and assign its value to the calculation.
3. Using ```print()``` function print ```my_answer```.

In [ ]:
# Insert your answer here

### Exercise 1.1
Calculate: $5^3$

optional: there are two ways of doing that, try both.

In [ ]:
# Insert your answer here

In [ ]:
# @title Double click here for the solution

# 1st way
5**3
# 2nd way
5*5*5

125

### Exercise 1.2
Do the following calculation in python:

$\frac{10+2}{2+4}$

The answer should be 2. (I know this is a hard one :P )

In [ ]:
# Insert your answer here

In [ ]:
#@title Double click here for the solution

(10+2)/(2+4)

2.0

### Exercise 1.3


1. Create a variable named ```my_age``` and assign its value to your age.
2. Create a new variable named ```my_birth_year``` and assign its value to your birth year.
3. Run the code below the exercise code to see if you did it correctly.

In [ ]:
# Insert your answer here

In [ ]:
# @title Run this cell to check your if you've done it right (click the play button).
try:
  print(f"My age is {my_age}, my birth year is: {my_birth_year}\nCongrats you've done the exercise!")
except NameError:
  print("You haven't defined at least one of the variables correctly. \nPlease try again. Remember variables are case sensitive!")

You haven't defined at least one of the variables correctly.
Please try again. Remember variables are case sensitive!

In [ ]:
# @title Double click here for the solution

my_age = 29
my_birth_year = 1992

### Exercise 1.4:

1. Create a variable named ```my_height_cm``` and assign its value to your height in cm.
2. Create a new variable named ```conversion_factor``` and assign its value to the conversion factor from feet to centimeters.
3. Create a new variable named ```my_height_feet``` and assign its value to the division of ```my_height_cm``` and ```conversion_factor```.
4. Using ```print()``` function print both ```my_height_cm``` and ```my_height_feet```.

In [ ]:
# Insert your answer here

In [ ]:
# @title Double click here for the solution
my_height_cm = 183
conversion_factor = 30.48
my_height_feet = my_height_cm/conversion_factor
print(my_height_cm,my_height_feet)

Well done! First part of the exercises are done. Let's go back to the lecture.

---
<a name="err"></a>
##**4.3 Errors**

We are all human. Sometimes we might write incorrect code and python can inform this to us by producing an error. These errors also contain messages that explain what went wrong while python was executing your code.

In [ ]:
print(y)
y = 10

NameError: name 'y' is not defined

**Tip:** You can click on "SEARCH STACK OVERFLOW" button to see if someone else has encountered a similar error and provided a solution.


These messages are composed in a logical way, :
1. What is the **type of error** (<font color=red>NameError</font>) -> [More on error types here](https://docs.python.org/3/tutorial/errors.html)
2. **Where (which file)** the error occured (in our case this is not useful because we just have this file)
4. **Which line** has the error producing code
4. **Why** there was an error

<a name="errorex"></a>
#### Self-practice: 

Let's investigate the next error message and find the corresponding error components.

In [ ]:
age_years = 29
age_months = age_years * 12
print(age_days)

NameError: ignored

##### FILL BELOW

Error type:

File: (Just skip this since we have only this file.)

Line:

Reason:

---
<a name="datype"></a>
##**4.4 Data types**
    
Data are different data types.

For example: 
- Data that contains names would consist of characters. 
- Data that contains ages would consist of numbers. 

Python's most common data types are:

**For numbers:**
- [integers](#int) (for storing integers - whole numbers - e.g. 2)


- [floats](#float) (for storing numbers with fractions e.g. 1.0025)

**For characters (text):**
- [strings](#str) (for characters, words etc.)

**For logicals (1, 0 - True, False)**:
- [booleans](#bool) (binary data: True or False) 


Note: Data types to store multiple data points (arrays, lists etc.) will be covered in the tutorial *Theory 4* next week!

<a name="int"></a>
### Integers

Below are some examples of integers

In [ ]:
age = 29
birthyear = 1992

print("I am", age, "years old.")
print("I was born in", birthyear)

I am 29 years old.
I was born in 1992

We can check the type of variables by using ```type()``` function:

```type(age)```

In [ ]:
print(type(age))

<class 'int'>

It will print out: <class 'int'> meaning that the type (you call data types "class") is integer.

We can use integer variables with the operations we learned above.

In [ ]:
x = 3
y = 4
z = x*y

What happens if we do a division that yields a fractional value with two integer type variables of your choice.(e.g. 5/2 = 2.5).


- What is the type of our result variable?

In [ ]:
x = 5
y = 2
z = x/y

print("x is",x, "y is",y, "z is",z)
print("x is",type(x), "y is",type(y), "z is",type(z))

x is 5 y is 2 z is 2.5
x is <class 'int'> y is <class 'int'> z is <class 'float'>

<a name="float"></a>
### Floats
**Floating point number** (Float) is a way of representing a non-integer real number with a computer.

In [ ]:
# Let's calculate my speed from home to work
distance = 3 # in kms
time = 7 # in minutes


speed = distance/(time/60) # km/h

print("My average speed from home to work is: ", speed, "km/h")
print("'speed' variable's value is ", type(speed))

My average speed from home to work is:  25.714285714285715 km/h
'speed' variable's value is  <class 'float'>

<a name="str"></a>
### Strings

What if we want to store characters instead of numbers? Usually we want to store a set of characters instead of storing each character 1 by 1 (like instead of storing - n, a, m, e - we want to store them together as -name-). This is called a string of characters. That's why the type is also called **string**.

- We should use **double quoutes ```" __ "``` or single quotes ```' __ '```** when limiting a string.

In [ ]:
# Some string examples
name = "Burak"
country = 'Turkey'

print(name, "is from", country)

Burak is from Turkey

- We can use the **escape character** ```\``` to continue our string in the next line of code. 

  This doesn't change the way it is printed.

In [ ]:
# Defining a multi line string
multiline_string_1 = 'This text is getting too long \
so I can continue on the next line of code' 

print(multiline_string_1)

This text is getting too long so I can continue on the next line of code

- Or, we can use **triple quoutes ```''' __ '''```** if we would like to use multiline strings

In [ ]:
# A multiline string
multiline_string_2 = '''This
is 
a
multiline
string
'''
print(multiline_string_2)

This
is
a
multiline
string

#### Adding blank space (a.k.a. whitespace)
- Use ```\n``` to add a new line (like pressing enter)
- Use ```\t``` for adding a tab

In [ ]:
# New line example
two_line_string = 'Hello \n world'
print(two_line_string)

Hello
 world

In [ ]:
# Tab example
two_line_string = '\tHello  world \n A new line'
print(two_line_string)

	Hello  world
 A new line

#### Concatenating (combining) 
Sometimes we want to combine strings. There are many ways of doing it. 

A fast and easy-to-read way is using the plus **```+```** operator.

In [ ]:
name = "Burak"
surname = "GÃ¼r" 


fullname = name + surname # Just joining them together
fullname_nice = name + ' ' + surname # Joining with a space


print(fullname)
print(fullname_nice)

BurakGÃ¼r
Burak GÃ¼r

#### String formatting
An easier way of concatenating is with the f strings.

In [ ]:
name = "Burak"
surname = "GÃ¼rr"
age = 29


print(f'My name is {name}, my surname is {surname}, my age is {age}')

'My name is Burak, my surname is Gur, my age next year is 30'

We can even do operations within the f strings.

In [ ]:
print(f'My age in 10 years is {age+10}')

'My age in 2 years is 31'

Some more info [here](https://realpython.com/python-f-strings/).

<a name="bool"></a>
###Booleans

Booleans are data that can vary between only two values (binary) e.g. **0-1** or **True-False**

In [ ]:
# Example of boolean
name = "Burak"
surname = "Gur"
age = 29
is_student = True
is_female = False

We can use logical operators (```and```, ```or```, ```not```) to work with them.

In [ ]:
# Is Burak student and female?
is_student and is_female

False

In [ ]:
# Is Burak student or female?
is_student or is_female

True

More about booleans: [realpython - booleans](https://realpython.com/python-boolean/)

<a name="type_conv"></a>
##**4.5 Converting types**
Sometimes we want to convert the types of variables in order to work with other types of variables.

For example: when we read text data and want to do calculations:

In [ ]:
distance = "300.6" # km
time = "4.1" # hours

speed = distance / time

TypeError: ignored

We can't do calculations with strings!

We can convert types of data to each other by using **the target type name**:

In [ ]:
speed = float(distance) / float(time)
print("Speed is", speed, " km/h")
print("'speed' type is now: ",type(speed))

Speed is 73.31707317073172  km/h
'speed' type is now:  <class 'float'>

#### **Watch out!**

Be careful of not using an improper data type for your conversion. Python will catch this but it is always good to be aware.

e.g. if you convert 300.6 to an ```int``` - but remember, an integer can not handle decimals.

In [ ]:
print("Distance", distance, "as int: ", int(distance))

ValueError: ignored

---
<a name="ex2"></a>
##**Exercises II**

### Exercise 2.1
Check the type of the following variables and print them. Optional: try printing with and without f strings.

In [ ]:
a = 1
b = 2.5
c = "TReND"
d = False

In [ ]:
# Insert your code here

In [ ]:
#@title Double click here for the solution
# Solution 1
print("a is ", type(a))
print("b is ", type(b))
print("c is ", type(c))
print("d is ", type(d))

# Solution 2
print(f"a is {type(a)}")
print(f"b is {type(b)}")
print(f"c is {type(c)}")
print(f"d is {type(d)}")

NameError: ignored

### Exercise 2.2
Create a multi-line string and add your name, age, favorite sports and favorite food to each line.

In [ ]:
# Insert your code here

In [ ]:
#@title Double click here for the solution
multi_string = ''' 
Burak
29
Climbing
Dolma (a turkish food)
''' 
print(multi_string)

Burak
29
Climbing
Dolma (a turkish food)

### Exercise 2.3
1. Create a variable named ```my_age``` and assign its value to your age but in string type.
2. Create a variable named ```my_age_int``` and assign its value to your age by converting ```my_age``` to an integer.
3. Print your ```my_age``` and ```my_age_int``` and their types.

In [ ]:
# Insert your code here

In [ ]:
#@title Double click here for the solution
my_age = "29"
my_age_int = int(my_age)
print(f"my_age is {my_age} and its type is {type(my_age)}")
print(f"my_age_int is {my_age_int} and its type is {type(my_age_int)}")

my_age is 29 and its type is <class 'int'>
my_age_int is 29 and its type is <class 'int'>

### Exercise 2.4
1. Try to convert the string ```a``` to an integer.
2. Check the error message and identify what went wrong.
3. Convert the string ```a``` to an appropriate type.

In [ ]:
a = "100.6"
# Insert your code here

In [ ]:
#@title Double click here for the solution
a = "100.6"

int(a) # Doesn't work delete this line afterwards

# Float is the appropriate type
float(a)